.jvmovie-form-container {
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
}

.jvmovie-form {
    width: calc(100% - 20px);
}

.jvmovie-form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.jvmovie-form-group label {
    font-size: 12px;
    color: #aaa;
    margin-bottom: 3px;
}

.form-box {
    height: 41px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.jvmovie-form-btn-container {
    display: flex;
    justify-content: center;
}

.jvmovie-movie-card-image {
    width: 100%;
    max-height: 270px;
    border-radius: 8px 8px 0 0;
    position: relative;
    bottom: -5px;
}

.jvmovie-card-bottom-container {
    background-color: var(--color-secundary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 20px 10px;
    border-radius: 0 0 8px 8px;
}

.jvmovie-card-bottom-container h3 {
    color: var(--color-font-tertiary);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    min-height: 40px;
}

.jvmovie-btn {
    background-color: var(--color-primary);
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}