header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.jvmovie-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-font-primary);
}

.jvmovie-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.jvmovie-contact-container {
    display: flex;
    align-items: center;
}

.jvmovie-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.jvmovie-contact-container img {
    width: 24px;
}